#
# NOTE: we're not saving the contents of lib because it is the IBM DFDL binary jars.
# You get those from IBM. See the README.txt file.
#
# Similarly, we're not saving the sample files from the IBM DFDL samples.
#
ibm-dfdl/
target/